html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Style starts here */


body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}

.body {
	display: flex;
	flex-direction: column;
}
.Menu {
	width: 300px;
	font-weight: bold;
	z-index: 3;
	color: #757575;
	background-color: #fff;
	text-align: center;
	animation: animateleft 0.5s;
	top: 0;
	height: 100%;
	position: fixed;
	overflow: auto;
	display: flex;
	flex-direction: column;
}


.Logo {
padding-top: 64px;
padding-bottom: 64px;
text-align: center;
font-size: 24px;
margin: 10px, 0;
line-height: 1.5;
font-family: "Raleway", sans-serif
}

.navButton{
	text-align: center;
	width: 100%;
	padding: 8px, 16px;
	border: none;
	font-weight: bold;
	font-size: 15px;
	line-height: 2.5;
	text-decoration-line: none;
	text-decoration-color: rgb(117, 117, 117);
	text-decoration-style: solid;
	color: rgb(117, 117, 117);
	font-family: "Raleway", sans-serif;
	width: 300px;
}

.navButton:hover{
	background-color: lightgray;
	opacity: 1;
	color: black;
}

.gallery {
display: flex;
flex-wrap: wrap;
margin-left: 19vw;
}

.column {
	width: 33.33333%;
	display: flex;
	flex-direction: column;
	
}

.column img{
	margin-bottom: 0; 
	opacity: 0.8; 
	cursor: pointer;
	width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;

}

.column img:hover{opacity: 1}



